on:
  push:
    branches: [ "fabric-1.19.3" ]
  pull_request:
    branches: [ "fabric-1.19.3" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build --stacktrace --info
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: Blur-Artifact
        path: build/libs/blur-*.*.jar
        if-no-files-found: error
